TELEGRAM_BOT_TOKEN = ""
TELEGRAM_CHAT_ID = ""
ANDROID_CLIENT_ID = "HIOMIAS39CA9DICTA7JIO64LQKQJF5AGIK74G9ITJKLNEDAOH5FHS5G1JI7FOEGD"
ANDROID_CLIENT_SECRET = "V9M870DE342BGHFRUJ5FTCGCUA1482AN0DI8C5TFI9ULMA89H10N60NOP8I4JMVS"
REDIRECT_URI = "hhandroid://oauthresponse"
TOKEN_FILE = "settings.json"
PROXY_HOST=""